.text-field{
    width: 100%;
}
.add-btn{
    margin-top: 10px !important;
    border-radius: 10px;
    font-size: 15px;
    border: rgb(157, 241, 223);
}
.label{
    margin-top: 10px;
    font-size: 15px;
}
